{{- if and .Values.realm.configFile (not .Values.realm.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "keycloak.fullname" . }}-realm
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
type: Opaque
stringData:
  realm.json: |
    {{ .Values.realm.configFile | nindent 4 }}
{{- end }}
